.products {
  display: flex;
  .left {
    flex: 1;
    height: 100%;
    padding-left: 70px;
    padding-top: 20px;
    font-size: 15px;

    .filterItem{
      margin-bottom: 30px;

      h2{
        font-size: 15px;
        margin-bottom: 10px;
      }

      .inputItem{
        margin-bottom: 10px;
        label{
          margin-left: 10px;
        }
      }
    }
  }
  
  .right {
    flex: 3;
    flex-wrap: wrap;
    .catImg{
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}
